* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.cajaChicas {
    display: block;
    width: 30vh;
}

.bombon {
    margin: 100px 0px 50px 400px;
}

.bellota {
    margin: 20px 0px 50px 700px;
}

.burbuja {
    margin: 30px 4000px 50px 0px;
}

